<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Survey Topic</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Survey Topic"
                    name="topic" required>
                </div>

            <div class="form-group"> 
                <label class="label_Styling" for="NameTextField">Choose Your Survey Template</label>         
                <select class="form-control" name="type">
                    <option value="1">Short Answer</option>
                </select>
            </div>
        <div class="form-group">
                <label class="label_Styling" for="NameTextField">Number of questions</label>
                <input type="text" class="form-control" id="NameTextField"
                placeholder="Number of questions" name="numberOfQuestion" value="" required>
            </div>
              <button type="submit" class="btn btn-primary">Submit</button>
              <a href="/" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
            </form>
        </div>
      </div>
    </div>

<%- include ../partials/bottom_nav.ejs %>  
<%- include ../partials/footer.ejs %>