<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
<link rel='stylesheet' href='/Content/login1.css' />
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Balsamiq+Sans&family=Comfortaa:wght@500&family=Josefin+Sans:ital@1&family=Montserrat:wght@500&display=swap" rel="stylesheet">


  <!-- Main Content -->
  <section class="Form my-4 mc-5">
        <div class="container">
            <div class="row no-gutter">
              
                
                <div class="col-lg-7 px-2 pt-2">

                    <h2 class="font-weight-bold-py-3" style="color: black;">Arrow Surveys</h2>
                    
                    <h4>Edit Your Survey</h4>
                    <form method="POST" autocomplete="off">
                        <div class="form-row">
                            <div class="col-lg-7">
                               <label for="topicTextField">Survey Topic</label>
                    <input type="text" class="form-control"
                    id="topicTextField"
                    placeholder="Enter topic"
                    name="topic" 
                    value="<%= surveyList.topic %>"
                    required>
                </div>
                  <% for (let i = 0; i < surveyList.questions.length; i++) { %>
                     <div class="form-group">
                      <label for="questionTextField">Survey Question  <%=i +1%></label>
                      <input type="text" class="form-control"
                      id="questionTextField"
                      placeholder="Enter question"
                      name="questionTopic<%=i%>" 
                      value="<%= surveyList.questions[i].questionTopic %>"
                      required>
                  </div>      
            <% } %>
            <br>
            <br>
            <div class="form-group">
                    <input type="hidden" class="form-control"
                    id="topicTextField"
                    placeholder=""
                    name="numberofQuestions" 
                    value="<%=surveyList.questions.length%>"
                    required>
                </div>
            
                <div class="form-group">
                    <label for="topicTextField"></label>
                    <input type="hidden" class="form-control"
                    id="topicTextField"
                    placeholder=""
                    name="type" 
                    value="<%=surveyList.type %>"
                    required>
                </div>

                                
    
                            </div>
                        </div>

                       
    
                       
    
                             <div class="form-row">
                                <div class="col-lg-7" style="padding-left: 550px;">

                                
                                
                                 
                                    
                                   <button type="submit" class="btn2 rounded-pill form-control-lg mt-3 mb-5" > Submit</button> 
                                   <a href="/survey"><p>Back</p></a>                              
                                </div>
                            </div>

                    </form>
                </div>
                
            </div>
        </div>
    </section>
    

    

</main>
  





